<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Content Shared With You
    </title>
  </head>
  <body>
    Content Shared With You

    <p>
      <strong>{{obj.content.name}}</strong>
    </p>
  </body>
</html>
