<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Student Signup
    </title>
  </head>
  <body>
    Welcome to the platform follow the link below

    <p>
      Your VerificationCode is <strong>{{token.code}}</strong>
    </p>
  </body>
</html>
