{% extends "public/layout.html" %}
{% block body %}
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

			
				<h2>Contents</h2>
				<div class="row">
					{% for cont in results.items %}
						{% if loop.index % 2 == 0 %}
						<div class="col-sm-4">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container">
									{% if cont.image %}
									<img src="{{cont.image}}" alt="">
									{% endif %}
									{% if cont.subtitle %}
									<div class="overlay-to-top">
										<p class="small margin-clear"><em>{{cont.subtitle|safe}}</em></p>
									</div>
									{% endif %}
								</div>
								<div class="body">
									<h3>{{cont.title|safe}}</h3>
									<div class="separator"></div>
									<p>{% if cont.short_summary %}{{cont.short_summary|safe}}{% else %}{{cont.description|safe}}{% endif %}</p>
									<a href="{{cont.url}}" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>												
								</div>
							</div>
						</div>
						{% else %}
						<div class="col-sm-4">
							<div class="image-box style-2 mb-20 bordered dark-bg text-center">
								<div class="overlay-container">
									{% if cont.image %}
									<img src="{{cont.image}}" alt="">
									{% endif %}
									{% if cont.subtitle %}
									<div class="overlay-to-top">
										<p class="small margin-clear"><em>{{cont.subtitle|safe}}</em></p>
									</div>
									{% endif %}
								</div>
								<div class="body">
									<h3>{{cont.title|safe}}</h3>
									<div class="separator"></div>
									<p>{% if cont.short_summary %}{{cont.short_summary|safe}}{% else %}{{cont.description|safe}}{% endif %}</p>
									<a href="{{cont.url}}" class="btn btn-gray-transparent btn-animated btn-sm margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->	
{% endblock body %}