{% extends "public/layout.html" %}
{% block body %}
		
<!-- banner start -->
<!-- ================ -->
<div id="banner" class="banner dark-translucent-bg padding-bottom-clear parallax" style="background-image:url('/static/images/landing-page-banner.jpg');">
	<!-- section start -->
	<!-- ================ -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center col-md-offset-2 space-bottom">
				<div class="title large_white">MTN DML</div>
				<div class="separator"></div>
				<p class="text-center lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit!</p>
			</div>
		</div>
		<div class="row mb-20">
			<div class="col-md-4">
				<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon default-bg small"><i class="fa fa-heart-o"></i></span>
					<div class="body">
						<h4 class="title">Clean Code &amp; Design</h4>
						<p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem dolor consectetur.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
					<span class="icon default-bg small"><i class="fa fa-connectdevelop"></i></span>
					<div class="body">
						<h4 class="title">Extremely Flexible</h4>
						<p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
					<span class="icon default-bg small"><i class="icon-snow"></i></span>
					<div class="body">
						<h4 class="title">Latest Technologies</h4>
						<p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
					</div>
				</div>
			</div>
		</div>					
	</div>
	<!-- section end -->
	<!-- section start -->
	<!-- ================ -->
	<div class="pv-40 dark-translucent-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="call-to-action text-center">
						<form class="form-inline margin-clear">
							<div class="form-group has-feedback">
								<label class="sr-only" for="subscribe3">Email address</label>
								<input type="email" class="form-control form-control-lg" id="subscribe3" placeholder="Enter email" name="subscribe3" required="">
								<i class="fa fa-envelope form-control-feedback"></i>
							</div>
							<button type="submit" class="btn btn-lg btn-gray-transparent btn-animated margin-clear">Subscribe <i class="fa fa-send"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section end -->
</div>
<!-- banner end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">
				<div class="row">
					<div class="col-md-6">
						<img src="static/images/section-image-1.png" alt="">		
					</div>
					<div class="col-md-6">
						<h2>We Are Offer Amazing Services</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facere possimus, inventore ipsam at autem! Necessitatibus aliquam qui itaque quasi, laborum fugit? Eos minima quasi aperiam, incidunt dolores aliquid neque!</p>
						<div class="media">
							<div class="media-left pr-20">
								<a href="#">
									<span class="icon circle small default-bg"><i class="icon-eye"></i> </span>
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Extremely Flexible</h4>
								Cras sit amet nibh libero, in gravida nulla. Sollicitudin.
							</div>
						</div>
						<div class="media">
							<div class="media-left pr-20">
								<a href="#">
									<span class="icon circle small default-bg"><i class="icon-trophy"></i> </span>
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Packed Full Of Features</h4>
								Cras sit amet nibh libero. Nulla vel metus scelerisque.
							</div>
						</div>
						<div class="media">
							<div class="media-left pr-20">
								<a href="#">
									<span class="icon circle small default-bg"><i class="icon-lifebuoy"></i> </span>
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">24/7 Support</h4>
								Cras sit amet nibh libero. Nulla vel metus scelerisque.
							</div>
						</div>
						<a href="#" class="btn btn-lg btn-default btn-animated">Download <i class="glyphicon glyphicon-cloud-download pl-20"></i></a>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6 col-md-push-6">
						<img class="pv-30" src="static/images/section-image-2.png" alt="">		
					</div>
					<div class="col-md-6 col-md-pull-6">
						<h2>You Will Love It!</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facere possimus, inventore ipsam at autem! Necessitatibus aliquam qui itaque quasi, laborum fugit? Eos minima quasi aperiam, incidunt dolores aliquid neque!</p>
						<ul class="list-icons">
							<li><i class="icon-check-1"></i> Extremly Simple to Use</li>
							<li><i class="icon-check-1"></i> Customize it in no time</li>
							<li><i class="icon-check-1"></i> Unlimited options and variations</li>
							<li><i class="icon-check-1"></i> We are here to support you</li>
						</ul>
						<p>Libero cum iusto doloribus officiis delectus alias consectetur ullam, animi totam assumenda, ad earum quis non nostrum placeat provident dolores ratione similique!</p>
						<a href="#" class="btn btn-lg btn-default btn-animated">Download <i class="glyphicon glyphicon-cloud-download pl-20"></i></a>
					</div>
				</div>
			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<div class="pv-40 light-gray-bg banner dark-translucent-bg padding-bottom-clear parallax" style="background-image:url('/static/images/landing-page-banner.jpg');">
	<div class="owl-carousel content-slider">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="testimonial text-center">
						<div class="testimonial-image">
							<img src="/static/images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<h3>Just Perfect!</h3>
						<div class="separator"></div>
						<div class="testimonial-body">
							<blockquote>
								<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
							</blockquote>
							<div class="testimonial-info-1">- Jane Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="testimonial text-center">
						<div class="testimonial-image">
							<img src="static/images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
						</div>
						<h3>Amazing!</h3>
						<div class="separator"></div>
						<div class="testimonial-body">
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!</p>
							</blockquote>
							<div class="testimonial-info-1">- Jane Doe</div>
							<div class="testimonial-info-2">By Company</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="clients-container">
			<div class="clients">
				<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
					<a href="#"><img src="static/images/client-1.png" alt=""></a>
				</div>
				<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
					<a href="#"><img src="static/images/client-2.png" alt=""></a>
				</div>
				<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
					<a href="#"><img src="static/images/client-3.png" alt=""></a>
				</div>
				<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
					<a href="#"><img src="static/images/client-4.png" alt=""></a>
				</div>
				<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
					<a href="#"><img src="static/images/client-5.png" alt=""></a>
				</div>
				<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">
					<a href="#"><img src="static/images/client-6.png" alt=""></a>
				</div>
				<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">
					<a href="#"><img src="static/images/client-7.png" alt=""></a>
				</div>
				<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="800">
					<a href="#"><img src="static/images/client-8.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section end -->

{% endblock body %}