<html>
	<body>
		<div>
			{% if results and results.items > 0 %}
			<ul>
				{% for obj in results.items %}
				<li>{% if obj.name %}{{obj.name}}{% elif obj.title %}{{obj.title}}{% else %}{{obj.full_name}}{% endif %}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</body>
</html>